body{
    margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.carousel{
	width: 100%;
	max-width: 2500px;
	height: 400px;
	margin: 50px 0 0 0;
	padding: 0;
	top: 0;
	left: 0;
	background-image: url('http://gbweb.nl/images/huge.jpg');
	position: relative;
	background-position: 1.4s ease-in-out 0.3s;
}

.carousel_item{
	z-index: 10;
	position: absolute;
	width: 50%;
	display: none;
	top: 80px;
}

.carousel_item > h2 > i{
	background-color: rgba(92, 132, 56, 0.8);
	font-size: 36px;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	padding: 0 5px;
	text-transform: uppercase;
	color: white;
	font-weight: normal;
}

.carousel_item > p > i{
	font-size: 17px;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	padding: 0 5px;
	color: white;
	font-weight: normal;
}

.carousel_item > p {
	margin-top: 10px;
	background-color: rgba(92, 132, 56, 0.8);
	max-width: 50%;
	line-height: 115%;
}

.carousel_img{
	position: absolute;
	left: 50%;
	z-index: 11;
	height: 260px;
	top: 80px;
	display: none;
}

.carousel_img > img{
	vertical-align: middle;
	height: 100%;
	width: 100%;
	display: none;
}